<form action="/admin_new" method="post">
    <p>管理者名</p>
    <input type="text" name="name">
    <p>メールアドレス</p>
    <input type="email" name="email">
    <p>パスワード</p>
    <input type="password" name="password">
    <input type="submit" value="作成する">
</form>
