<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="statics/ss/style.css">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <div class="title">新規オーナー追加</div>
  </div>
  
  <div class="main">
    <div class="contents">
      <form action="/client_new" method="post">
        <div class="forms">
          <input class="box" type="text" name="owners_name" placeholder="名前"><br>
          <input class="box" type="email" name="email" id="" placeholder="E-mail"><br>
          <input class="box" type="tel" name="tel" id="" placeholder="電話番号"><br>
          <input class="btn" type="submit" value="作成">
        </div>
      </form>
      <div class="back">
        <a href="/clients">戻る</a>
      </div>
    </div>
  </div>
</body>
</html>