
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="statics/ss/style.css">
  <title>クライアント一覧</title>
</head>
<body>
<%- include('header'); %>

  <div class="header">
    <div class="title"></div>
    <div class="btn">
      <a href="/dashboard">戻る</a>
    </div>
    <div class="btn">
      <a href="/client_new">オーナー新規登録</a>
    </div>
  </div>

  <div class="main">
    <div class="contents">
      <div class="list">
        <table class="table7">
          <tr>
            <th>ID</th>
            <th>オーナー名</th>
          </tr>

          <% owners.forEach(owners => { %>
            <tr>
              <td class=""><%= owners.id %></td>
              <td><a href="/client_page/<%= owners.id %> "><%= owners.name %></a></td>
            </tr>
            <% }); %> 
        </table>
        </div>
      </div>
    </div>
</body>
</html>

<style>
  .table7{
width: 100%;
border-collapse: collapse;
border-right: 1px solid #8fd2ed;
}
.table7 th{
padding: 10px;
background-color: #cee7ff;
border-left: 5px solid #8fd2ed; 
border-top: 1px solid #fff;
}
.table7 td{
padding: 10px;
background-color: #fff;
border: 1px solid #999;
}

</style>
