
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="statics/ss/style.css">
  <title>クライアント一覧</title>
</head>
<body>
  <a href="/client_new">オーナー新規登録</a>
  <div class="header">
    <div class="title">オーナー一覧</div>
  </div>

  <div class="main">
    <div class="contents">
      <div class="">
        <ul>
          <% owners.forEach(owners => { %>
            <li>
              <span class=""><%= owners.id %></span>
              <a href="/client_page/<%= owners.id %> "><span><%= owners.name %></span></a>
            </li>
         <% }); %> 
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
