<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="statics/ss/style.css">
  <title>ダッシュボード</title>
</head>
<body>
  <div class="header">
    <div class="title">ダッシュボード</div>
    <div class="btn">
      <a href="/logout">ログアウト</a>
    </div>
  </div>
  
  <div class="maind">
  <div class="main">
    <div class="contents">
      <div class="boxs">
        
        <div class="box">
          <div class="items">
            <div class="box_t">
              <div class="text">管理者</div>
            </div>
            <div class="backg"></div>
            <div class="atag">
              <a href="/admins">一覧へ</a>
            </div>
          </div>
        </div>
        
        <div class="box">
          <div class="items">
            <div class="box_t">
              <div class="text">オーナー</div>
            </div>            
            <div class="backg"></div>
            <div class="atag">
              <a href="/clients">一覧へ</a>
            </div>
          </div>
        </div>
        
        <div class="box">
          <div class="items">
            <div class="box_t">
              <div class="text">お店</div>
            </div>            
            <div class="backg"></div>
            <div class="atag">
              <a href="/shops">一蘭へ</a>
            </div>
          </div>
        </div>
        
        <div class="box">
          <div class="items">
            <div class="box_t">
              <div class="text">従業員</div>
            </div>            
            <div class="backg"></div>
            <div class="atag">
              <a href="/users">一覧へ</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> 

</body>
</html>