<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
  <body>
      <div class="heade"> 
        <div class="imag">
          <img src="/statics/images/mamo-logon.png" alt="logo">
        </div>
        <div class="header-nav">
      <div class="tex">
        <a href="#"><%= locals.adminName %></a>
        でログインしています。</div>
        
      <div class="login">
        <% if (locals.isLoggedIn) { %>
          <a href="/logout">ログアウト</a>
          <% } else { %>
            <a href="/login">ログイン</a>
            <% } %>
          </div>
        
      </div>
    </div>
  </body>
</html>
</header>

<style>
*{
  margin: 0;

}

    .heade{
    width: 100%;
    background-color: rgb(127, 236, 255);
    height: 56px;
    border-bottom: 1px solid skyblue;
    }
    img{
        width: 10rem;
        height:4rem;
        object-fit:fill;
      }
    .imag{
      float: left;
    }
    .tex{
        margin-left: 2rem;
        margin-top: 1rem;
        float: left;
      }
      .login{
        margin-top: 1rem;
        margin-right: 3rem;
        float: right;
      }
        a{

text-decoration: none;

}
    .header-nav{

      font-weight: bolder;
      
      
        
      }
    
  

</style>
