<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="statics/ss/style.css">
  <title>新規登録</title>
</head>
<body>
  <div class="header">
    <div class="title">新規登録</div>
  </div>
  <div class="main">
    <div class="contents">
      <form action="" method="post">
        <div class="forms">
          <!-- 名前 -->
          <input class="box" type="text" name="name" placeholder="名前">
          <!-- メールアドレス -->
          <input class="box" type="email" name="email" id="" placeholder="E-mail">
          <!-- パスワード -->
          <input class="box" type="password" name="password" id="" placeholder="PassWprd"><br>

          <input class="btn" type="submit" value="送信">
        </div>
        </form>
    </div>
  </div>
</body>
</html>