@charset "utf-8";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  background-color: black;
  color: white;
  .header{
      padding: 3rem;
      background-color: aqua;
    .title{
      font-size: 3rem;
      text-align: center;
      color: rgb(177, 83, 83);
    }

  }

  .main{
    .contents{
      form{
        
      }
    }
  }

}
